@import "deps/reset.less";
@import "deps/mixins.less";
@import "deps/buttons.less";

@bodyBackgroundColor: #f5f5f5;

body {
  background: @bodyBackgroundColor;
  color: contrast(@bodyBackgroundColor);
  font: 14px arial;
  padding: 0 10px;
}

main {
  max-width: 940px;
  margin: 10px auto;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  .border-radius(3px);

  form {
    @rowHeight: 30px;
    line-height: @rowHeight;
    .clearblock;

    input {
      line-height: @rowHeight;
      height: @rowHeight;
      display: block;
      float: left;
      padding: 0 5px;
      margin: 0 10px 10px 0;
      .box-sizing(border-box);

      &[type="text"] {
        width: 300px;
        max-width: 100%;
        border: 1px solid #ddd;
        .border-radius(3px);
      }
    }
  }

  .todo-list {
    padding: 10px 10px 0 0px;
    border-top: 1px solid #ddd;

    .todo {
      padding: 5px 10px;
      border: 1px solid #ddd;
      .border-radius(3px);
    }

    .todo + .todo {
      margin-top: 5px;
    }
  }
}

.page-title {
  font-size: 20px;
}